<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Define Causes and Actions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="six wide column">
                        <button ng-click="addCause()" class="ui green right labeled icon button">
                            <i class="plus icon"></i>
                            Add Cause
                        </button>
                    </div>
                    <div class="five wide column" style="text-align: center">
                        <h3>Actions</h3>
                    </div>
                </div>
                <div ng-repeat="item in knowledge" class="row">
                    <div class="six wide column">
                        <div class="ui input">
                            <input type="text" ng-model="item.cause">
                        </div>
                    </div>
                    <div class="five wide column" style="text-align: center">
                        <button ng-click="addAction($index)" class="ui green button">Add</button>
                        <button ng-click="removeAction($index)" class="ui red icon button">Remove</button>
                    </div>
                    <div class="five wide column">
                        <div class="row" ng-repeat="action in item.actions">
                            <div class="sixteen wide column">
                                <div class="ui input">
                                    <input type="text" ng-model="action.action">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="ui grid">
        <div class="eight wide column">
            <div style="text-align: left">
                <button ng-click="showInputCauses()" class="ui primary right labeled icon button">
                    <i class="left arrow icon"></i>
                    Back
                </button>
            </div>
        </div>
        <div class="eight wide column">
            <div style="text-align: right">
                <button ng-click="showRelationship()" class="ui primary right labeled icon button">
                    <i class="right arrow icon"></i>
                    Next
                </button>
            </div>
        </div>
    </div>
</div>