<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Define Actions and Causes</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <button ng-click="addAction()" class="ui green right labeled icon button">
                            <i class="plus icon"></i>
                            Add
                        </button>
                    </div>
                </div>
                <div ng-repeat="item in knowledge" class="row" style="text-align: center">
                    <div class="six wide column">
                        <div class="ui input">
                            <input type="text" ng-model="item.action">
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="row" ng-repeat="cause in item.causes">
                            <div class="sixteen wide column">
                                <div class="ui input">
                                    <input type="text" ng-model="cause.cause">
                                </div>
                                <button ng-click="addCause($parent.$index)" class="ui green right labeled icon button">
                                    <i class="plus icon"></i>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row"></div>
<div style="text-align: left">
    <button ng-click="showInputCauses()" class="ui primary right labeled icon button">
        <i class="left arrow icon"></i>
        Back
    </button>
</div>