<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Build your knowledge base</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                        <div style="text-align: center">
                            <button class="ui right labeled icon teal basic button">
                                <i class="sitemap icon"></i>
                                Go to Builder
                            </button>
                        </div>
                    </div>
                </div>     
                <div class="ui horizontal divider">OR</div>
                <div class="row">
                    <div style="text-align: center">
                        <h2>Add the Causes and Actions CSV</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                        <div style="text-align: center">
                            <div></div>
                            <label for="file" class="ui icon button">
                                <i class="upload icon"></i>
                                Open File
                            </label>
                            <input type="file" style="display: none">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="ui grid">
        <div class="eight wide column">
            <div style="text-align: left">
                <button ng-click="showInputSmile()" class="ui primary left labeled icon button">
            <i class="left arrow icon"></i>
            Previous
        </button>
            </div>
        </div>
        <div class="eight wide column">
            <div style="text-align: right">
                <button ng-click="showInputCauses()" class="ui primary right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </button>
            </div>
        </div>
    </div>
</div>