<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Add the SMILE Recording</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                        <div>
                            <div style="text-align: center">
                                <label class="ui icon button">
                                    <i class="upload icon"></i>
                                    Open File <input type="file" hidden ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().smileRecordings(this)">
                                </label>
                                <div ng-repeat="file in recordings">
                                    <h4 ng-bind="file"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="ui grid">
            <div class="eight wide column">
                <div style="text-align: left">
                    <button ng-click="showInputTask()" class="ui primary left labeled icon button">
            <i class="left arrow icon"></i>
            Back
        </button>
                </div>
            </div>
            <div class="eight wide column">
                <div style="text-align: right">
                    <button ng-click="showInputCauses()" class="ui primary right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </button>
                </div>
            </div>
        </div>
    </div>