<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <canvas id="canvas" width="800" height="800"></canvas>

                <style> ::selection { background: white; /* WebKit/Blink Browsers */ } </style>

                <script type="text/javascript">
                    window.onload=function(){
                        var canvas=document.getElementById("canvas");
                        var ctx=canvas.getContext("2d");
                        ctx.fillStyle='black';
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="ui grid">
        <div class="eight wide column">
            <div style="text-align: left">
                <button ng-click="showCausalParameters()" class="ui primary left labeled icon button">
                    <i class="left arrow icon"></i>
                    Back
                </button>
            </div>
        </div>
        <div class="eight wide column">
            <div style="text-align: right">
                <button ng-click="buildString()" class="ui primary right labeled icon button">
                    <i class="right arrow icon"></i>
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
