<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <h3>Put stuff here</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="ui grid">
        <div class="eight wide column">
            <div style="text-align: left">
                <button ng-click="showCasualParameters()" class="ui primary left labeled icon button">
                    <i class="left arrow icon"></i>
                    Back
                </button>
            </div>
        </div>
        <div class="eight wide column">
            <div style="text-align: right">
                <button ng-click="buildString()" class="ui primary right labeled icon button">
                    <i class="right arrow icon"></i>
                    Next
                </button>
            </div>
        </div>
    </div>
</div>