<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Generate XMLs</h2>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center">
                        <h3>For this Demo, Skip!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="ui grid">
            <div class="eight wide column">
                <div style="text-align: left">
                    <button ng-click="showInputTask()" class="ui primary left labeled icon button">
                        <i class="left arrow icon"></i>
                        Back
                    </button>
                </div>
            </div>
            <div class="eight wide column">
                <div style="text-align: right">
                    <button ng-click="showInputSmile()" class="ui primary right labeled icon button">
                        <i class="right arrow icon"></i>
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>