<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Generate XMLs</h2>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center">
                        <h3>Type in the XML Parameters</h3>
                        <h4>XML file will be loaded to the current directory</h4>
                        <label class="ui icon button">
                            <i class="upload icon"></i>
                            Open File <input type="file" hidden ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().createXmlFile(this)">
                        </label>
                        <div>
                            <h4 ng-bind="createXML.name"></h4>
                        </div>
                        <button class="ui green button" ng-click="generateXML()">Generate</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="ui grid">
            <div class="eight wide column">
                <div style="text-align: left">
                    <button ng-click="showInputTask()" class="ui primary left labeled icon button">
                        <i class="left arrow icon"></i>
                        Back
                    </button>
                </div>
            </div>
            <div class="eight wide column">
                <div style="text-align: right">
                    <button ng-click="showInputSmile()" class="ui primary right labeled icon button">
                        <i class="right arrow icon"></i>
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="sixteen wide column">
            <div style="text-align: center">
                <br>
                <h5 style="color: gray">examples of XML input will be found on our advertisment webpage doc</h5>
                <h5 style="color: gray">http://viceroy.cs.umd.edu</h5>
            </div>
        </div>
    </div>
</div>