<div class="row">
    <div style="text-align: center">
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div style="text-align: center">
                        <h2>Generate XMLs</h2>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center">
                        <h3>Type in the XML Parameters</h3>
                        <h4>XML file will be loaded to the current directory</h4>
                        <div class="ui input">
                            <input type="text" ng-model="createXML" placeholder="Enter XML Attributes">
                        </div>
                        <button class="ui green button" ng-click="generateXML()">Generate</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="ui grid">
            <div class="eight wide column">
                <div style="text-align: left">
                    <button ng-click="showInputTask()" class="ui primary left labeled icon button">
                        <i class="left arrow icon"></i>
                        Back
                    </button>
                </div>
            </div>
            <div class="eight wide column">
                <div style="text-align: right">
                    <button ng-click="showInputSmile()" class="ui primary right labeled icon button">
                        <i class="right arrow icon"></i>
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="sixteen wide column">
            <div style="text-align: center">
                <br>
                <h5 style="color: gray">examples: </h5>
                <h5 style="color: gray">block,id,RedBlock,xspan,1,yspan,1,zspan,1,location,1.9994404,-3.0177548,0.50036395</h5>
                <h5 style="color: gray">cylinder,radius,1,yspan,1,location,0,0.5,0.5</h5>
                <h5 style="color: gray">sphere,id,BigOlSphere,radius,1,location,0,0,0.5</h5>
                <h5 style="color: gray">box,id,BoxerBriefs,location,0,0,0.5,color,black</h5>
            </div>
        </div>
    </div>
</div>